header{
    padding: 15px;
}

@mixin texto-h ($centrado, $tamano) {
    text-align: $centrado;
    font-size: $tamano;
}

h1{
    @include texto-h(center,30px);
    
}

h2{
    @include texto-h(center,15px);
    color: white;
    padding: 20px;
    margin: 10px 0 50px 0 ;
}

.h2-grande{
    font-size: 17px;
}